{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'editor/style.css' %}">

<main>
    <h1>pixel {{ pixel.posicao }}</h1>
    <h3>atual: <span style="color:{{ pixel.cor }}">{{ pixel.cor }}</span></h3>

    <form action="{% url 'editor:colorir' pixel.posicao %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h3>nova cor:</h3></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <input type="color" name="cor" id="cor-pixel" value="{{ pixel.cor }}">

    </fieldset>
    <input type="submit" value="confirmar">
    </form>

    <a href="./..">Voltar pro grid?</a>
</main>
