{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'editor/style.css' %}">

{% if pixels_list %}
  <main>
    {% for pixel in pixels_list %}
    <div class="popup" onclick="myFunction({{ pixel.posicao }})">
      <svg>

          <rect style="fill:{{ pixel.cor }}" />

      </svg>
      <div class="popuptext" id="myPopup{{ pixel.posicao }}">

        <form action="{% url 'editor:colorir' pixel.posicao %}" method="post">
        {% csrf_token %}
        <fieldset>
          <legend><h3>nova cor:</h3></legend>
          {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

          <input type="color" name="cor" id="cor-pixel" value="{{ pixel.cor }}">

        </fieldset>
        <input type="submit" value="confirmar">
        </form>

      </div>
    </div>
    {% endfor %}
  </main>

{% else %}
    <p>Nenhum pixel criado.</p>
{% endif %}

<script>
  // When the user clicks on div, open the popup
  function myFunction(pos) {
    let tchau = document.getElementsByClassName("show");
    for (i = 0; i < tchau.length; i++) {
      tchau[i].classList.remove("show")
    }
    var popup = document.getElementById("myPopup" + pos);
    popup.classList.toggle("show");
  }
  
</script>
