{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'editor/style.css' %}">

<main>
  <h1>pixel {{ pixel.posicao }}</h1>

  <svg>
    <rect style="fill:{{ pixel.cor }}" />
  </svg>

  <p><a href="{% url 'editor:detail' pixel.posicao %}">Mudar denovo?</a></p>

  <p><a href="{% url 'editor:index' %}">Voltar pro grid?</a></p>
</main>
